.benefits {
    display: flex;
    @include phones {
        flex-direction: column;
    }
}

.benefits__item {
    flex: 1;
    padding-right: 5%;
    position: relative;
    &:last-child {
        padding-right: 0;
        &::after {
            display: none;
        }
    }
    &::after {
        content: url(../img/decor.png);
        position: absolute;
        top: 22%;
        left: 83%;
    }
    @include tablets {
        &::after {
            display: none;
        }
    }
    @include phones {
        &::after {
            display: none;
        }
        padding-right: 0;
        margin-bottom: rem(40px);
    }
}