.order-section {
    background: url(../img/cta.png) center top/ cover no-repeat;
    color: white;
    .section__title {
        color: inherit;
        margin-bottom: rem(59px);
        @include tablets {
            margin-bottom: rem(39px);
        }
        @include phones {
            margin-bottom: rem(39px);
        }
    }
}


/*.order-section__title {
    color: #fff;
}*/