.socials__list {
    display: flex;
}

.socials__item {
    margin-right: rem(14px);
    &:last-child {
        margin-right: 0;
    }
}

.socials__icon {
    width: 20px;
    height: 20px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    fill: #b3b3b3;
    &:hover {
        fill: #000;
    }
}

.socials__logo {
    display: block;
}