html {
    font-size: $basefontsize;
    @include tablets {
        font-size: $basefontsize - 1px;
    }
    @include phones {
        font-size: 2vmax;
    }
    @include Iphones {
        font-size: 1.75vmax;
    }
    &.locked {
        overflow: hidden;
        width: calc(100% - 17px);
        @include tablets {
            width: 100%;
        }
    }
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Alegreya Sans', Helvetica, sans-serif;
    color: $grey;
    line-height: 1.2;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: none;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin-top: 0;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.locked {
    overflow: hidden;
}

.maincontent {
    height: 100%;
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
    will-change: transform;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: $containerwidth;
    width: 95%;
    @include phones {
        width: 96%;
    }
}