.btn {
    background: $yellow;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: rem(16px);
    font-weight: 800;
    line-height: 1.1;
    padding: rem(21px) rem(41px);
    border-radius: rem(45px);
    -webkit-border-radius: rem(45px);
    -moz-border-radius: rem(45px);
    -ms-border-radius: rem(45px);
    -o-border-radius: rem(45px);
    transition: background-color .4s;
    -webkit-transition: background-color .4s;
    -moz-transition: background-color .4s;
    -ms-transition: background-color .4s;
    -o-transition: background-color .4s;
    &:hover {
        background-color: #FFD517;
    }
    &--color--trans {
        background: transparent;
        font-weight: normal;
        color: #fff;
        text-transform: none;
        padding: rem(21px) rem(22px);
        &:hover {
            background: transparent;
            color: #000;
        }
    }
}