.contacts {
    @include phones {
        margin-bottom: rem(20px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contacts__address {
    font-size: 21px;
    font-style: normal;
    line-height: 1.1;
    @include tablets {
        margin-bottom: rem(10px);
        color: #000;
    }
}

.contacts__phone {
    display: flex;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    align-items: center;
    white-space: nowrap;
    font-style: normal;
}

.contacts__phone.header__phone {
    font-size: rem(22px);
    @include tablets {
        display: none;
    }
    @include phones {
        display: none;
    }
}

.phone__icon-elem {
    width: rem(13px);
    height: rem(14px);
    margin-right: rem(6px);
    fill: #fff;
}

.phone__icon-elem.footer-phone {
    fill: #000;
    width: 12px;
    height: 12px;
}