.feature {
    display: flex;
}

.feature__icon {
    margin-right: rem(14px);
}

.feature__img {
    height: rem(35px);
    width: rem(35px);
    fill: #fff;
}

.feature__text {
    font-size: rem(16px);
    font-weight: bold;
    line-height: 1.1;
    max-width: rem(90px);
    text-align: left;
}