.fixed-menu {
    position: fixed;
    top: 30%;
    right: calc(50vw - 500px);
    z-index: $z-fixed-menu;
}

.fixed-menu__item {
    margin-bottom: 6px;
    &--active {
        .fixed-menu__link {
            border-color: #fff;
        }
    }
}

.fixed-menu__link {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid transparent;
    display: block;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
}