.footer {
    min-height: rem(94px);
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(18px) 0;
    .contacts .contacts__phone {
        font-size: rem(21px);
        font-weight: normal;
    }
    @include phones {
        flex-direction: column;
    }
}