            .hamburger {
                width: 26px;
                height: 24px;
                flex-direction: column;
                justify-content: space-between;
                display: none;
                @include tablets {
                    display: inline-flex;
                }
                @include phones {
                    display: inline-flex;
                }
            }
            
            .hamburger__plank {
                display: block;
                background: #fff;
                height: 4px;
                border-radius: 16px;
                -webkit-border-radius: 16px;
                -moz-border-radius: 16px;
                -ms-border-radius: 16px;
                -o-border-radius: 16px;
            }