            .hamburger {
                width: rem(26px);
                height: rem(24px);
                flex-direction: column;
                justify-content: space-between;
                display: none;
                @include tablets {
                    display: inline-flex;
                }
                @include phones {
                    display: inline-flex;
                }
            }
            
            .hamburger__plank {
                display: block;
                background: #fff;
                height: rem(4px);
                border-radius: rem(16px);
                -webkit-border-radius: rem(16px);
                -moz-border-radius: rem(16px);
                -ms-border-radius: rem(16px);
                -o-border-radius: rem(16px);
            }